.header-appbar {
    background-color: #4F6F52;
    padding: 15px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    color: #F5EFE6;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .header-title:hover {
    color: #E8DFCA;
  }
  
  .header-button {
    background-color: #E8DFCA;
    color: #1A4D2E;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .header-button:hover {
    background-color: #668F72;
    color: #F5EFE6;
  }
  
  .header-greeting {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    color: #1A4D2E;
  }
  
  .header-back-button {
    margin-right: 10px;
    color: #F5EFE6;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .header-back-button:hover {
    color: #E8DFCA;
  }
  .header-menu {
    position: relative;
  }
  
  .header-menu-items {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .header-menu-items button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #1A4D2E;
    text-align: left;
    padding: 8px;
    transition: color 0.3s ease;
  }
  
  .header-menu-items button:hover {
    color: #4F6F52;
  }
  
  .header-profile-icon {
    font-size: 28px;
    color: #F5EFE6;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .header-profile-icon:hover {
    color: #E8DFCA;
  }