.profile-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .profile-modal-content {
    background-color: #fff;
    padding: 25px;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .profile-modal-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #4F6F52;
  }
  
  .profile-modal-info {
    margin-bottom: 20px;
  }
  
  .profile-modal-info p {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
  }
  
  .profile-modal-close-button {
    padding: 10px 20px;
    background-color: #4F6F52;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .profile-modal-close-button:hover {
    background-color: #668F72;
  }