.carousel-container {
  display: flex;
  flex-direction: row;
}

.carousel-item {
  flex: 1 0 auto;
  max-width: calc(
    100% / 3
  ); /* Adjust based on the number of items you want per slide */
  box-sizing: border-box;
}
